<!-- views/form.ejs -->
<html>
<head>
    <title>Amazon url Form</title>
</head>
<body>
    <h1>Enter product url:</h1>
    <form action="/add-data" method="post">
        <input type="text" name="url" placeholder="https://www.amazon.in/dp/B08TV2P1N8..." required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
